.fullinputpage {
  margin-top: 1px;
  background-image: url("https://data.whicdn.com/images/66293690/original.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.inputheading {
  text-align: center;
}
.inputitemselector {
  text-align: center;
}
.iteminput {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(-50% -50%);
  height: auto;
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px !important;
}
