.navmenuitem {
  height: auto;
  background-color: rgb(53, 34, 34);
}
.categoryBotton {
  font-weight: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: azure;
}
.navmenu {
  background-color: rgb(231, 240, 236);
  height: 50px;
}
