.navmenuitem {
  height: auto;
  background-color: rgb(53, 34, 34);
}
.categoryBotton {
  font-weight: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: azure;
}
.navmenu {
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(-50% -50%);
}
